@import url(http://fonts.googleapis.com/css?family=Open+Sans|Text+Me+One);

body {
  text-shadow: 0px 1px 0px #ffffff;
}

.navbar .brand {
  margin-left: auto;
  font-family: 'Text Me One', sans-serif;
  font-size: 2em;
}

.well {
  -webkit-box-shadow: 0px 4px 5px -1px #cccccc;
     -moz-box-shadow: 0px 4px 5px -1px #cccccc;
          box-shadow: 0px 4px 5px -1px #cccccc;
}

.row h3 {
  margin-bottom: 0.0;
}

table.table.well td.hint {
  border-top: 0;
}

#token-collector {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 280px;
  margin-top: -140px;
  margin-left: -140px;
  color: #980000;
  background: rgba(255, 255, 255, 0.5);
  border: 0.2em solid rgba(191, 191, 191, 0.5);
  border-radius: 140px;
}

#token-collector form h2,
#token-collector form input[type=text],
#token-collector form a.btn {
  position: absolute;
  text-align: center;
}

#token-collector form h2,
#token-collector form input[type=text] {
  position: absolute;
  right: 10%;
  left: 10%;
  display: block;
  width: auto;
}

#token-collector form h2 {
  top: 15%;
  line-height: 2em;
}

#token-collector form input[type=text] {
  top: 50%;
  height: 2em;
  margin-top: -1em;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
}

#token-collector form a.btn {
  right: 30%;
  bottom: 15%;
  left: 30%;
}

.question {
  text-align: center;
}

.choice {
  position: relative;
  border-radius: 0.5em;
}

.choice h4 {
  font-weight: normal;
}

.choice div.choice-button {
  text-align: center;
}

.choice div.choice-button input {
  position: absolute;
  top: 50%;
  width: 1.4em;
  height: 1.4em;
  margin-top: -0.7em;
}

.choice.selected {
  color: #ffffff;
  background: #980000;
}

form#vote-form input[type=submit] {
  position: relative;
  display: block;
  margin: 0.5em auto;
}

table.table.well td.hint .progress {
  margin-bottom: 0;
}

table#created-polls td.question {
  text-overflow: ellipsis;
}

table#created-polls th.activate,
table#active-polls th.activate,
table#history-polls th.activate,
table#created-polls td.activate,
table#active-polls td.activate,
table#history-polls td.activate,
table#created-polls th.deactivate,
table#active-polls th.deactivate,
table#history-polls th.deactivate,
table#created-polls td.deactivate,
table#active-polls td.deactivate,
table#history-polls td.deactivate,
table#created-polls th.reactivate,
table#active-polls th.reactivate,
table#history-polls th.reactivate,
table#created-polls td.reactivate,
table#active-polls td.reactivate,
table#history-polls td.reactivate {
  text-align: center;
}

table#created-polls td.token,
table#active-polls td.token,
table#history-polls td.token {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.2em;
}

table#created-polls td.see-all a,
table#active-polls td.see-all a,
table#history-polls td.see-all a {
  display: block;
  width: 100%;
  text-align: center;
}

table#created-polls tr.poll > td,
table#active-polls tr.poll > td,
table#history-polls tr.poll > td {
  cursor: pointer;
}

table#created-polls tr.poll:hover,
table#active-polls tr.poll:hover,
table#history-polls tr.poll:hover {
  color: #000000;
}

/* Create form */

form.well .form-actions {
  padding-bottom: 0;
  margin-bottom: 0;
}

form.well .form {
  padding-bottom: 0;
  margin-bottom: 0;
}

form.well input[name=question] {
  width: 100%;
  height: 1.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.poll-choices .input-prepend {
  display: inline-block;
  margin-right: 5px;
}

.poll-choices .input-prepend:last-child {
  opacity: 0.8;
}

.poll-choices .input-prepend:last-child > * {
  border-style: dashed;
}
