table.table.well td.hint .progress {
	margin-bottom: 0px;
}

table#created-polls td.question {
	text-overflow: ellipsis;
}

table#created-polls,
table#active-polls,
table#history-polls {
	th.activate, td.activate,
	th.deactivate, td.deactivate,
	th.reactivate, td.reactivate {
		text-align: center;
	}
	td.token {
		font-size: 1.2em;
		font-family: @monoFontFamily;
	}
	td.see-all a {
		display: block;
		width: 100%;
		text-align: center;
	}
	tr.poll {
		& > td {
			cursor: pointer;
		}
		&:hover {
			color: @black;
		}
	}
}

/* Create form */
form.well .form-actions {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
form.well .form {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
form.well input[name=question] {
	font-size: 1.5em;
	line-height: 1.5em;
	height: 1.5em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.poll-choices .input-prepend {
	display: inline-block;
	margin-right: 5px;
}
.poll-choices .input-prepend:last-child {
	opacity: 0.8;
	& > * {
		border-style: dashed;
	}
}